Repository mirceanton/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/helm, charts/k8s-resource/

chore(mise): pin helm tools to specific versions
  .mise.toml
Labels: none

ci(helm-docs): add workflow to auto-generate chart README
  .github/workflows/helm-docs.yaml
Labels: area/github

ci(helm-push): update workflow
  .github/workflows/helm-publish-oci.yaml
Labels: area/github

ci(helm-lint): add workflow to lint charts
  .github/workflows/helm-lint.yaml
Labels: area/github

ci(helm-chart-version-update): add workflow to check if chart version has been updated
  .github/workflows/helm-chart-version-update.yaml
Labels: area/github

ci(helm-schema): add workflow to generate values schema
  .github/workflows/helm-schema.yaml
Labels: area/github

ci: add helm-workflows (#63)
  .github/workflows/helm-chart-version-update.yaml
  .github/workflows/helm-docs.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/helm-schema.yaml
Labels: area/github

ci(helm-docs): just check if docs are updated and fail if not
  .github/workflows/helm-docs.yaml
Labels: area/github

ci(helm-schema): just check if schema is updated and fail if not
  .github/workflows/helm-schema.yaml
Labels: area/github

ci: group together similar workflows
  .github/workflows/helm-cd.yaml
  .github/workflows/helm-chart-version-update.yaml
  .github/workflows/helm-ci.yaml
  .github/workflows/helm-docs.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/helm-publish-oci.yaml
Labels: area/github

chore(chart/k8s-resource): update schema
  charts/k8s-resource/values.schema.json
Labels: area/helm, charts/k8s-resource/

chore: remove gitkeep
  charts/.gitkeep
Labels: area/helm

ci: update triggers
  .github/workflows/helm-cd.yaml
  .github/workflows/helm-ci.yaml
Labels: area/github

ci: pin bjw-s-labs/action-changed-files to fix branch
  .github/workflows/helm-cd.yaml
  .github/workflows/helm-ci.yaml
Labels: area/github

ci: try custom action
  .github/workflows/helm-cd.yaml
Labels: area/github

ci: try custom action
  .github/workflows/helm-cd.yaml
  .github/workflows/helm-ci.yaml
Labels: area/github

ci: trigger helm ci
  charts/k8s-resource/test.txt
Labels: area/helm, charts/k8s-resource/

ci: update bjw-s-labs/action-changed-files
  .github/workflows/helm-cd.yaml
  .github/workflows/helm-ci.yaml
Labels: area/github

ci: update action-folder-matrix to v1
  .github/workflows/helm-cd.yaml
  .github/workflows/helm-ci.yaml
Labels: area/github

ci: update action-changed-files to v0.3.3
  .github/workflows/helm-cd.yaml
  .github/workflows/helm-ci.yaml
Labels: area/github

ci: custom charts discover action (#65)
  .github/workflows/helm-cd.yaml
  .github/workflows/helm-ci.yaml
Labels: area/github

chore: add .DS_Store to .gitignore
  .gitignore
Labels: none

test workflow
  .github/workflows/helm-ci.yaml
Labels: area/github

set branch
  .github/workflows/helm-ci.yaml
Labels: area/github

fix
  .github/workflows/helm-ci.yaml
Labels: area/github

ci: fix conditional for downstream jobs
  .github/workflows/helm-cd.yaml
  .github/workflows/helm-ci.yaml
Labels: area/github

ci: fix conditional for downstream jobs (#70)
  .github/workflows/helm-cd.yaml
  .github/workflows/helm-ci.yaml
Labels: area/github

ci: update helm workflows
  .github/workflows/helm-cd.yaml
  .github/workflows/helm-ci.yaml
Labels: area/github

fix
  .github/workflows/helm-cd.yaml
  .github/workflows/helm-ci.yaml
Labels: area/github

fix
  .github/workflows/helm-ci.yaml
Labels: area/github

ci: update helm workflows (#72)
  .github/workflows/helm-cd.yaml
  .github/workflows/helm-ci.yaml
Labels: area/github

chore(mise): update config
  .mise.toml
Labels: none

chore(mise): add node for renovate
  .mise.toml
Labels: none

ci(renovate): update inputs
  .github/workflows/renovate.yaml
Labels: area/github

ci(renovate): replace mise exec with renovatebot action
  .github/workflows/renovate.yaml
  .mise.toml
Labels: area/github

ci: remove commitlint workflow
  .commitlintrc.json
  .github/workflows/commitlint.yaml
Labels: area/github

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/helm:
  - changed-files:
      - any-glob-to-any-file: "charts/**"

charts/k8s-resource/:
  - changed-files:
      - any-glob-to-any-file: "charts/k8s-resource/**"
